@import "tailwindcss";

:root {
  --bg-canvas: #FCF8F3;
  --white: #FFFFFF;

  --brand-primary: #074D43;
  --brand-accent: #147A6E;

  --text-main: #1A2421;
  --text-muted: #4B5854;

  --border: #E5E7EB;

  --orangeColor: #C89A38;
  --orangeColorHover: #B08830;
}

@theme {
  --color-canvas: var(--bg-canvas);
  --color-white: var(--white);

  --color-primary: var(--brand-primary);
  --color-accent: var(--brand-accent);

  --color-main: var(--text-main);
  --color-muted: var(--text-muted);

  --color-border: var(--border);

  --color-orangeColor: var(--orangeColor);
  --color-orangeColorHover: var(--orangeColorHover);
}

.heading-font {
  font-family: var(--font-amiri);
}

.text-font {
  font-family: var(--font-plus-jakarta);
}

@keyframes marquee {
  100%{
    transform: translateX(100%);
  }
  0%{
    transform: translateX(-100%);
  }
}

.animate-marquee{
  animation: marquee 15s linear infinite;
}


